.ss-image,
.ss-image {
    display: inline-block;
    height: 100%;
}
.ss-image > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-height: 100%;
    margin: auto;
}
.ss-image {
    display: inline;
    height: auto;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
